.services{
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    .border-ser{
    background-color: #e9204f;
    height: 2px;
    width: 40px;
    }
    h3{
        font-size: 48px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: #101010;
    }
    h4{
        color: #e9204f;
        font-family: 'Abel', sans-serif;
    }
}
